<div id="gora_kontenera">
    <div>
        <a href="../index.html"><img class="logo" src="/images/logo.png" alt="logo"></a>

        <div id="gorne_menu">
            <div id="gorne_menu_wlasciwe">
                <ul>
                    <li><a href="../index.html">Strona główna</a></li>
                    <li><a href="../priceList.html">Cennik</a></li>
                    <li><a href="../login.jsp">Logowanie</a></li>
                    <li><a href="../registration.html">Rejestracja</a></li>
                    <li><a href="logout">Wyloguj</a></li>
                </ul>
            </div>
        </div>

        <div id="contact_box">
            <table class="contact_box_table">
                <tr>
                    <th>Kontakt:</th>
                </tr>
                <tr>
                    <td>Wypożyczalnia sprzętu narciarskiego</td>
                </tr>
                <tr>
                    <td>ul. Narciarska 3</td>
                </tr>
                <tr>
                    <td>Skoczów, 43-430</td>
                </tr>
                <tr>
                    <td>nr telefonu : 123 123 123</td>
                </tr>
                <tr>
                    <td>e-mail: <a href="mailto:wypozyczalnia@gmail.com">wypozyczalnia@gmail.com</a></td>
                </tr>
            </table>
        </div>

    </div>
</div>