<div id="srodkowe_menu">
    <ul id="pierwszy_poziom">
        <li><a href="gear.html"><span class="link2">Sprzęt</span></a>
            <ul class="drugi_poziom">
                <li class="pierwszy_el_listy_rozwijanej"><a href="/gear.html#ski_poles">kijki narciarskie</a></li>
                <li><a href="/gear.html#ski">narty</a></li>
                <li><a href="/gear.html#snowboard">deski snowboardowe</a></li>
                <li><a href="/gear.html#goggles">gogle</a></li>
                <li><a href="/gear.html#ski_boots">buty narciarskie</a></li>
                <li><a href="/gear.html#snowboard_boots">buty snowboardowe</a></li>
                <li><a href="/gear.html#helmet">kaski</a></li>
            </ul>
        </li>
        <li><span class="odstep">|</span></li>

        <li><a href="clothes.html"><span class="link2">Odzież narciarska</span></a>
            <ul class="drugi_poziom">
                <li class="pierwszy_el_listy_rozwijanej"><a href="/clothes.html#pants">spodnie</a></li>
                <li><a href="/clothes.html#jacket">kurtki</a></li>
                <li><a href="/clothes.html#gloves">rękawice</a></li>
                <li><a href="/clothes.html#balaclavas">kominiarki</a></li>
                <li><a href="/clothes.html#cap">czapki</a></li>
                <li><a href="/clothes.html#scarf">szaliki</a></li>
            </ul>
        </li>
    </ul>
</div>